%p Thank you for your inquiry! Attached is a copy of the Ainsworth Institute Knee Exercise eBook.

%p We can help you avoid surgery and have improved mobility with less pain.

%p <b>Call us today, for a complimentary screening/evaluation regarding your knees.

%p When scheduling your knee appointment, just mention you would like to learn more about our special <u>KNEE RELIEF PROGRAM</u>, so you can see one of our doctors.

%p <b>Call 212-203-2813 today! Same day appointments available!</b>

%p{:style=>'color:#98B94A; font-weight:600'} <br>Ainsworth Institute of Pain Management<br>115 East 57th Street, Suite #1210<br>New York, NY 10036

= link_to 'www.AinsworthInstitute.com', 'http://www.ainsworthinstitute.com'