.row
  .large-12.columns
    %h5 Enter your email and we will send you a FREE eBook complete with Home Knee Exercises!

    = form_tag '/ebook', :remote=>true, :class=>'ebook-form' do
      .large-8.columns{:style=>'padding:0'}
        = text_field_tag 'email', nil, :placeholder=>'Email', :type=>'email'
      .large-4.columns{:style=>'padding:0'}
        = submit_tag 'Submit', :class=>'ebook-button  tiny', :type=>'submit'
