#fourth.story
  %article
    .row
      .large-6.columns
        .index-fourth-section
          .hide-for-small= image_tag 'http://farm8.staticflickr.com/7339/9561345347_00fc20b333_z.jpg'
          %h5 Get treated.
          %p Determined to lead the way in the use of cutting-edge technology and minimally-invasive techniques, our center was created to offer patients the best treatments with the least risk.
      .large-6.columns
        .index-fourth-section
          .hide-for-small= image_tag 'http://img2.timeinc.net/health/images/slides/healthy-happy-opener-400x400.jpg'
          %h5 Get better.
          %p Call us today to to receive a risk free, no obligation, free insurance benefits verification. You'll have a minimal wait time after your appointment is scheduled. Your health is important and so is your time.