- meta :title => "About Us", :description => "Having some Pain? Contact our Pain Physicians NY to help you get better. Living with Pain is extremely unpleasant & our NY Physicians are here for you. Contact the pain management offices today.", :keywords => "pain physicians ny"

.row
  .large-4.columns
    = render :partial => 'about-us-nav'

  .large-8.columns
    .article-right
      %h2.article-main-title About Us
      .article-main-content

        %p= "The Ainsworth Institute of Pain Management is dedicated to patient care and pain relief. We offer a multidisciplinary approach to help patients recover, regain function, and become pain free. We strive to help patients avoid surgery, and are deeply committed to excellence in personal healthcare.  Come visit one of New York City's best pain management clinic and interventional facility."

        = image_tag 'Central-Park-NYC.jpg', :style=>'border:1px solid rgb(175,175,175); margin-top: 50px;'


