.row
  .large-4.columns
    = render :partial => 'pain-nav'

  .large-8.columns
    .article-right
      %h2.article-main-title Degenerative Disc Disease & Disc-Related Pain
      .article-main-content
        %p Degeneration of a disc is a normal part of aging and is generally not a problem. In those where pain develops, chronic back pain ensues which can result from the disc herniating into the nearby spinal cord and/or nerve roots (see Disc Herniation above) or pain that originates from the disc itself. In the case of the later, the disc becomes inflamed and it is theorized that nerve endings in an outer portion called the annulus fibrosis transmit this to the brain to interpret as pain.

