.row
  .large-4.columns
    = render :partial => 'pain-nav'

  .large-8.columns
    .article-right
      %h2.article-main-title Intractable Post-Surgical Pain
      .article-main-content
        %p Just the shear incidence of a surgery can cause pain to occur in an area of the body that was otherwise pain free. In the vast majority of cases, the pain is not the result of a complication or error on the part of the surgeon. An unexpected nerve in the path of the scalpel or scar tissue pushing against near by tissue can cause significant pain.

