.row
  .large-4.columns
    = render :partial => 'about-us-nav'

  .large-8.columns
    .article-right
      %h2.article-main-title Meet Dr. Chen
      .article-main-content
        %p Dr. Halland Chen, M.D. is a pain management specialist and an expert in non-surgical knee recovery and low back pain. He is dedicated to patient care and medical wellness and specializes in helping patients regain function and reducing pain from their medical conditions through a multidisciplinary approach.

        %p He is board certified in Physical Medicine & Rehabilitation, and is Fellowship trained in Interventional Pain Management from the prestigious program at Beth Israel Medical Center/Albert Einstein College of Medicine, in New York City.

        %p <b>Dr. Chen’s presentation has a special focus on knee pain and ways patients can avoid surgery. He is very specialized on latest techniques and research that offers his patients new options at relief from painful knees due to arthritis, injuries or post-surgical issues.</b>

        %p He graduated with Honors from the Miller School of Medicine in Research Distinction from medical school, and throughout his entire training in surgery, PM&R and Pain Management, and he is committed to delivering the highest quality of care for his patients in the New York City area.

