#mgmt
  .row
    .large-12.columns
      %h1 Management

      %h3 Training Videos
      %ul
        %p CareCloud

        %li= link_to 'How to make a note template', 'https://vimeo.com/76707308', :target=>'blank'
