.row
  .large-4.columns
    = render :partial => 'pain-nav'

  .large-8.columns
    .article-right
      %h2.article-main-title Neck Pain
      .article-main-content
        %p Also known as Cervicalgia, is a problem that affects up to 2/3 of the population at some point in their lives. Neck pain can arise from any number of reasons (i.e. whiplash, arthritis, stress, over-use). The root of the problem can be just varied (i.e. injury to disc, inflammation of the spinal cord or facet joints, narrowing of the spinal canal, muscle pain). The key to successful treatment of neck pain is attempting to establish what the cause is.

