.row
  .large-4.columns
    = render :partial => 'pain-nav'

  .large-8.columns
    .article-right
      %h2.article-main-title Neuropathy/Neuralgia
      .article-main-content
        %p Simply put, this refers to nerve damage. More commonly, we hear about peripheral neuropathy, which refers to damage of the nerves of the peripheral nervous system. There are several different types of neuropathy; 2 of the most common types are carpal tunnel syndrome (CTS) and diabetic peripheral polyneuropathy (DPPN). Most commonly, people describe numbness, burning, tingling and/or weakness, in addition to pain in a very specific distribution. In the case of DPPN, people typically describe the above symptoms in “stocking” or “sock” distribution in one or both feet. Neuropathy is classically diagnosed with a good history and physical. Many times, physicians will order a test called an Electromyography (EMG) to confirm.

