.row
  .large-4.columns
    = render :partial => 'treatment-nav'

  .large-8.columns
    .article-right
      %h2.article-main-title Neuromodulation
      .article-main-content
        %p.article-paragraph-title Procedures offered:
        %ul
          %li= link_to 'Spinal Cord Stimulators Trials and Implantations (Cervical & Lumbar)', '/spinal-cord-stimulators-trials-implantations'
          %li= link_to 'Programming and Management', '/programming-management'
          %li= link_to 'Peripheral Nerve (including Occipital) and Pelvic Neuromodulation', '/peripheral-nerve-pelvic-neuromodulation'

