.row
  .large-4.columns
    = render :partial => 'pain-nav'

  .large-8.columns
    .article-right
      %h2.article-main-title Pelvic Pain
      .article-main-content
        %p Pelvic pain can affect both men and women, although it is much more frequently documented in the later. Causes can include prostatitis, intertistial cystitis, vulvar vestibuliitis, endometriosis, multiple laparoscopies, sexual or physical abuse and irritable bowel syndrome to name a few. The exact cause is unknown and is typically a diagnosis of exclusion. People describe painful sensation with normally non-painful activities such as urination, sexual contact or ovulation.

