.row
  .large-4.columns
    = render :partial => 'pain-nav'

  .large-8.columns
    .article-right
      %h2.article-main-title Phantom Limb Pain
      .article-main-content
        %p This is a unique phenomenon that can occur after amputation of a limb. There has been a great deal of research over the last few decades to better understand the process the leads to this. There are 3 main theories: 1. memories of the limb’s position that develop after amputation, 2. maladaptive changes in the sensory portion of the brain, and 3. a conflict in the nervous system between the information provided by vision attempting to send motor commands to the missing body part and the signals actually received.

