.row
  .large-4.columns
    = render :partial => 'pain-nav'

  .large-8.columns
    .article-right
      %h2.article-main-title Post-Stroke Pain/Central Pain
      .article-main-content
        %p This is a syndrome whereby patients experience pain and sensory changes in the body part(s) corresponding to the region of the brain affected by the stroke. Some describe numbness and hypersensitivity in regions of the body. The exact prevalence is unknown as it can often difficult to distinguish this type of pain from other more common post-stroke occurrences (spasticity, headache, shoulder pain) which are painful by themselves.

