.row
  .large-4.columns
    = render :partial => 'pain-nav'

  .large-8.columns
    .article-right
      %h2.article-main-title Sciatica/Radiculopathy
      .article-main-content
        %p When a nerve, or group of nerves, becomes compressed and/or irritated, it is often felt as a pain the “radiates” down leg(s) or arm(s). This is often at or near the root of the nerve as it comes of the spinal cord. This can result in pain, weakness, numbness or difficulty controlling specific muscles, particularly in a distribution specific to the affected nerves. This can be the result of a disc pressing against a nerve in the area of its exit from the spine or from a bone spur in the same area. For example, a nerve root being squeezed by a herniated disc in the low back can produce pain and numbness in the leg.

