.row
  .large-4.columns
    = render :partial => 'pain-nav'

  .large-8.columns
    .article-right
      %h2.article-main-title Shingles/Post-Herpetic Neuralgia
      .article-main-content
        %p Even though most of us experience Chicken Pox when we are much younger, the virus itself never leaves our bodies. Rather it remains dormant and hides in the nervous system in an area next to the spinal cord called the dorsal root. When the virus is reactivated, or wakes up, it can cause a painful burning along with a rash with blisters in very precise distribution that corresponds directly to the specific nerve the virus was hiding in. The distribution of the rash is one-sided and often looks like a “stripe.” What causes the virus to suddenly reactivate is poorly understood.

