.row
  .large-4.columns
    = render :partial => 'treatment-nav'

  .large-8.columns
    .article-right
      %h2.article-main-title Sympathetic Blocks
      .article-main-content
        %p.article-paragraph-title Overview
        %p Our goal in pain management is simple: improving quality of life and getting our patients back to the activities they miss because of of pain without surgery. At The Ainsworth Institute, we pride ourselves on treating the whole patient, not just the symptoms or individual findings on an MRI. We believe in a “multi-disciplinary approach” to treating pain which means working carefully with your primary care and/or referring physician (whether that be your surgeon, neurologist, oncologist, psychiatrist or psychologist) and sometimes enlisting the aid of a physical therapist to help get you more active again.

