.bodywrapper
  #treatments-section
    #treatments-container
      #treatments-list
        .large-6.columns
        .large-6.columns
          .large-5.columns
            %h2 Treatment
            %h4 Treatment 1
            %h4 Treatment 2
            %h4 Treatment 3
          .large-7.columns
            #treatment-list-right
              %ul
                %li Item 1
                %li Item 2
                %li Item 3
                %li Item 4
              %ul
                %li Item 1
                %li Item 2
                %li Item 3
                %li Item 4
              %ul
                %li Item 1
                %li Item 2
                %li Item 3
                %li Item 4
    = render :partial => 'get-treated'

%p.article-paragraph-title Meet Our NYCPMR Family
.article-3-box
  .large-4.columns{:style=>'padding: 5px'}
    .article-box
      .photo-caption-section
        .photo-caption-text#photo1-caption
          %h6 Caption here
          %p Sub-caption sentence here.

  .large-4.columns{:style=>'padding: 05px'}
    .article-box
      .photo-caption-section
        .photo-caption-text#photo2-caption
          %h6 Caption here
          %p Sub-caption sentence here.

  .large-4.columns{:style=>'padding: 5px'}
    .article-box
      .photo-caption-section
        .photo-caption-text#photo3-caption
          %h6 Caption here
          %p Sub-caption sentence here.

%p Cras elementum magna risus, sit amet consequat sem interdum quis. Aenean a ultrices velit, sit amet rhoncus lorem. Aliquam sit amet quam imperdiet, gravida libero ac, molestie quam. Suspendisse luctus varius dignissim. Aliquam vitae sem rhoncus, convallis lacus in, pretium elit. In imperdiet condimentum ipsum tincidunt dapibus. Mauris pellentesque nisl vel lacus dictum, et vulputate erat lacinia. Suspendisse pharetra tortor eget ullamcorper varius.

%p Quisque diam tortor, dignissim et est ut, rutrum condimentum tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis aliquam, lectus sit amet tincidunt blandit, lacus enim ultrices metus, id scelerisque orci lacus rutrum velit. Mauris ut nibh varius, molestie lacus vel, volutpat massa. Vivamus pellentesque id nibh non sagittis. Fusce sodales risus non rhoncus luctus. Phasellus pretium dui lectus, vel hendrerit arcu porta non. Vestibulum nec faucibus nisi, non suscipit ligula. Nunc euismod consequat adipiscing. Cras elementum lorem vitae sapien egestas, sed eleifend ante aliquam. In quis neque mi. Phasellus nec dolor non orci elementum adipiscing.


= render :partial => 'get-treated'