.row
  .large-4.columns
    = render :partial => 'pain-nav'

  .large-8.columns
    .article-right
      %h2.article-main-title Trigeminal Neuralgia
      .article-main-content
        %p Also known as tic douloureux, trigeminal neuralgia is a neuropathic disorder involving the trigeminal nerve (the 5th cranial nerve) that has been diagnosed as among the most painful conditions known to mankind. While its overall estimated incidence is low (1 in 20,000), there may be significantly more people suffering from this due to misdiagnosis. Patients with frequently describe stabbing, burning, electrical shocks, shooting pains in the distribution of the trigeminal nerve that can last seconds to hours. Things as harmless as the wind or chewing have been known to bring on the symptoms. Several theories exist as to the cause, but as of yet there is no consensus.

