.row
  .large-4.columns
    = render :partial => 'pain-nav'

  .large-8.columns
    .article-right
      %h2.article-main-title Vertebral Compression Fractures
      .article-main-content
        %p This is a collapse of a vertebral body of the spine. This typically occurs in the thoracic and lumbar portions and may be due to trauma or an on going “weakening” of the vertebra. Weakening can be seen in osteoporosis, osteogenesis imperfecta, lytic lesions from metastatic or primary tumors, or infection. The pain can occur suddenly at the moment of fracture or may present gradually if the fracture is a slow process. In the case of gradual onset, pain is typically worse with standing or walking, as well as lifting objects like groceries.

